# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Homo_sapiens.GRCh38.dna.primary_assembly.fa
/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
/interval.all.obs.bw

/less_memory/DNA
/less_memory/metadata.csv
.idea/
.DS_Store
.vscode/

/hdf5/DNA_hdf5_4
/hdf5/hdf5_metadata_4.csv

/big_wig/bigwig.hdf5

/numpy_arr/A.npy
/numpy_arr/C.npy
/numpy_arr/G.npy
/numpy_arr/T.npy
/numpy_arr/numpy_metadata.csv

/bin_files/bfile_metadata_4.csv
/bin_files/DNA_bfile_4