# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Homo_sapiens.GRCh38.dna.primary_assembly.fa
/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
/interval.all.obs.bw

/less_memory/DNA
/less_memory/metadata.csv
.idea/
.DS_Store
.vscode/

/hdf5/DNA_hdf5
/hdf5/hdf5_metadata.csv

/numpy_arr/A.npy
/numpy_arr/C.npy
/numpy_arr/G.npy
/numpy_arr/T.npy
/numpy_arr/numpy_metadata.csv

/bin_files/bfile_metadata_4.csv
/bin_files/DNA_bfile_4

/bin_array/A
/bin_array/C
/bin_array/G
/bin_array/T
/bin_array/bin_metadata.csv

/big_wig/__pycache__/
/big_wig/bigwig.hdf5

/big_wig_hash_map/__pycache__
/big_wig_hash_map/data_map.txt

/resfoldbigwig
/hdf5bigwig
/foldbigwig

bin_search_big_wig/__pycache__